
<div data-behavior="$backdrop">
    <script type="application/json" data-config="$backdrop">
        {
            "doc": {
                "data": "points"
            }
        }
    </script>
</div>

<div data-behavior="$alert">
    <script type="application/json" data-config="$backdrop">
        {
            "doc": {
                "data": "points"
            }
        }
    </script>
</div>

<div data-behavior="$confirm">
    <script type="application/json" data-config="$backdrop">
        {
            "doc": {
                "data": "points"
            }
        }
    </script>
</div>

<div data-behavior="$prompt">
    <script type="application/json" data-config="$backdrop">
        {
            "doc": {
                "data": "points"
            }
        }
    </script>
</div>

<div data-behavior="$modal">
    <script type="application/json" data-config="$backdrop">
        {
            "doc": {
                "data": "points"
            }
        }
    </script>
</div>
